* {
    margin: 0px;
    padding: 0px;
}
body {
    /* background-color: grey; */
}
.options-group {
    /* background-color: red; */
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.option {
    /* background-color: yellow; */
    width: 195px;
    display: inline-block;
    text-align: center;
    margin: 15px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 3px;
}

input[type=submit] {
    padding: 15px;
}
.activities {
    width: 800px;
    margin: 0 auto;
}
.activities p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.activities-text {
    height: 200px;
    width: 800px;
    border: 1px black solid;
    margin: 0 auto;
    font-size: 15px;
    overflow: auto;
}

.activities-text p {
    margin-left: 20px;
    height: 12px;
}
.activities-text .red {
    color: red;
}
.activities-text .green {
    color: green;
}
.activities + p {
    text-align: center;
    /* background-color: yellow; */
}
#new-game {
    width: 90px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}